#center {

    background-image: linear-gradient(rgba(62, 166, 154, 0.97),rgb(30, 40, 118),rgba(40, 81, 170, 0.833));

  }
  #center1
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68.1%;
    height: 150px; 
  }
  #center2
  {
    background-image: linear-gradient(rgba(110, 195, 117, 0.97),rgb(76, 65, 174),rgba(146, 117, 5, 0.833));
   -webkit-background-clip: text;
   color: transparent;
   text-decoration: underline rgb(37, 52, 4);
  }